#basemaps-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    padding: 3px;
    height: 25px;
}

#geocoders-wrapper {
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 10;
    padding: 3px;
    height: 25px;
}

#cadaster-wrapper {
    position: absolute;
    top: 90px;
    right: 10px;
    z-index: 10;
    padding: 3px;
    height: 25px;
}

#address-searcher {
    position: absolute;
    width: 80%;
    top: 10px;
    left: 50px;
    z-index: 10;
    padding: 3px;
    height: 25px;
}

#savebutton {
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 10;
    background-color: #FF4444;
}

#alertWindow {
    position: absolute;
    bottom: 50px;
    right: 10px;
    padding: 4px;
    z-index: 10;
    background-color: #FF4444;
}
.infoInput {
    width: 300px;
}
html, body, #map {
    width: 100%;
    height: 100%;
}
#map {
    width: 90%;
    height: 90%;
}
label {
    display: inline-block;
    width: 100px;
    text-align: right;
}