body, html {
    overflow: hidden;
    /*width: 90%;*/
    height: 100%;
    /*padding: 10px;*/
    padding: 0;
    margin: 0;
}

/* wrappers class style */
.igit-leaflet-wrapper-class {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    background: #FFFFFF;
    position: absolute;
    /*position: relative;*/
}

/* wrappers class-overriding styles*/

#basemaps-wrapper {
    /*position: absolute;*/
    top: 10px;
    right: 10px;
    z-index: 10;
    padding: 3px;
    height: 25px;
}

#geocoders-wrapper {
    /*position: absolute;*/
    top: 50px;
    right: 10px;
    z-index: 10;
    padding: 3px;
    height: 25px;
}

#cadaster-wrapper {
    /*position: absolute;*/
    top: 90px;
    right: 10px;
    z-index: 10;
    padding: 3px;
    height: 25px;
}

#address-searcher {
    width: 80%;
    top: 10px;
    left: 50px;
    z-index: 10;
    padding: 3px;
    height: 25px;
}

.searchComboBox {
    position: absolute;
    width: 90%;
    top: 0;
}

#savebutton-wrapper {
    position: absolute;
    bottom: 25px;
    right: 10px;
    z-index: 10;
    background-color: #FF4444;
}

#alertWindow {
    position: absolute;
    bottom: 55px;
    right: 10px;
    padding: 4px;
    z-index: 10;
    height: 18px;
    background-color: #FF4444;
}
.infoInput {
    width: 300px;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
}
label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

#widget_searchComboBox {
    background-color: #fff;
    width: 80%;
    top: 20px;
    left: 70px;
    position: fixed;;
    padding: 2px;
    border: 1px solid #999999;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius: 3px;
}

#cadaster-wrapper {
    top: 60px;
}

#basemaps-wrapper {
    top: 20px;
}

.dijitComboBox div input.dijitArrowButtonInner {
    width: 17px;
    color: #66707e;
}

.dijitValidationTextBoxError input.dijitValidationInner, .dijitSelect input, .dijitTextBox input.dijitArrowButtonInner {
    text-indent: 0 !important;
    text-align: left !important;
    height: auto !important;
}


.leaflet-right .leaflet-control {
    margin-top: 1px;
}