

body, html {
    overflow: hidden;
    height: 100%;
}

.alert-window,
.base-maps-wrapper,
.cadaster-wrapper,
.dijit.dijitTextBox,
.igit-leaflet-wrapper-class{
    position: absolute;
}

.base-maps-wrapper,
.dijit.dijitTextBox{
    top: 3%;
}

.base-map,
.map-wrapper{
    width: 100%;
    height: 100%;
}

.base-maps-wrapper,
.cadaster-wrapper{
    width: 180px;
    text-align: center;
    height: 25px;
    right: 5%;
}

.base-maps{
    height: 27px;
}

.cadaster-wrapper {
    top: 50px;
    white-space: nowrap;
}

.dijitInputInner,
.dijitDownArrowButton{
    height: 25px;
}

.alert-window {
    right: 2%;
    bottom: 5%;
    padding: 10px;
    text-align: center;
    background-color: #FF4444;
}
.dijitComboBox div input.dijitArrowButtonInner {
    width: 17px;
    color: #66707e;
    padding-top: 5px;
}

.dijit.dijitTextBox{
    left: 45px;
    background-color: #fff;
    width: 65%;
    border: 1px solid #999999;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius: 3px;
}

.dijitValidationTextBoxError input.dijitValidationInner,
.dijitSelect input,
.dijitTextBox input.dijitArrowButtonInner {
    text-indent: 0 !important;
    text-align: left !important;
    height: auto !important;
}

.leaflet-right .leaflet-control {
    margin-top: 1px;
}

.dijitValidationContainer .dijitValidationInner {
    display: none;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.igit-leaflet-wrapper-class {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    background: #FC6666;
}