/*styles for different browser sizes*/

@media only screen and (min-width: 1531px) {
    .map-wrapper .base-maps-wrapper {
        top: 9px;
    }

    .map-wrapper .cadaster-wrapper {
        top: 50px;
    }

    .map-wrapper .cadaster-wrapper,
    .map-wrapper .base-maps-wrapper {
        right: 5%;
        left: auto;
    }
}

@media only screen and (max-width: 1530px) {
    .map-wrapper .base-maps-wrapper {
        top: 9px;
    }

    .map-wrapper .cadaster-wrapper {
        top: 50px;
    }

    .map-wrapper .cadaster-wrapper,
    .map-wrapper .base-maps-wrapper {
        right: 5%;
        left: auto;
    }

    .dijit.dijitTextBox.dijitInline {
        width: 75%;
    }
}

@media only screen and (max-width: 1145px) {
    .map-wrapper .base-maps-wrapper {
        top: 9px;
    }

    .map-wrapper .cadaster-wrapper {
        top: 50px;
    }

    .map-wrapper .cadaster-wrapper,
    .map-wrapper .base-maps-wrapper {
        right: 5%;
        left: initial;
    }

    .dijit.dijitTextBox.dijitInline.dijitComboBox {
        width: 65%;
    }
}

@media only screen and (max-width: 765px) {
    .map-wrapper .base-maps-wrapper {
        right: initial;
        top: 37px;
        left: 45px;
    }

    .map-wrapper .cadaster-wrapper {
        right: initial;
        top: 40px;
        left: 235px;
    }
}

@media only screen and (max-width: 537px) {
    .map-wrapper .dijit.dijitTextBox.dijitInline.dijitComboBox {
        width: 350px;
    }
}

/*styles for elements*/
body, html {
    overflow: hidden;
    height: 100%;
}

.alert-window,
.base-maps-wrapper,
.cadaster-wrapper,
.dijit.dijitTextBox,
.igit-leaflet-wrapper-class{
    position: absolute;
    z-index: 10;
}

.base-map,
.map-wrapper{
    width: 100%;
    height: 100%;
}

.base-maps-wrapper {
    top: 37px;
    left: 45px;
}

.cadaster-wrapper {
    top: 40px;
    left: 235px;
    white-space: nowrap;
}

.base-maps-wrapper,
.cadaster-wrapper{
    width: 180px;
    text-align: center;
    height: 25px;
}

.dijit.dijitTextBox{
    top: 9px;
}

.base-maps{
    height: 27px;
}

.dijitInputInner,
.dijitDownArrowButton{
    height: 25px;
}

.alert-window {
    right: 2%;
    bottom: 5%;
    padding: 10px;
    text-align: center;
    background-color: #FF4444;
}
.dijitComboBox div input.dijitArrowButtonInner {
    width: 17px;
    color: #66707e;
    padding-top: 5px;
}

.dijit.dijitTextBox{
    left: 45px;
    background-color: #fff;
    width: 80%;
    border: 1px solid #999999;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius: 3px;
}

.dijitValidationTextBoxError input.dijitValidationInner,
.dijitSelect input,
.dijitTextBox input.dijitArrowButtonInner {
    text-indent: 0 !important;          /*just for dojo css*/
    text-align: left !important;        /*just for dojo css*/
    height: auto !important;            /*just for dojo css*/
}

.leaflet-right .leaflet-control {
    margin-top: 1px;
}

.dijitValidationContainer .dijitValidationInner {
    display: none;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.igit-leaflet-wrapper-class {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    background: #FC6666;
}